/* src/styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  /* overflow: hidden; */
  margin: 0;
}

.wrapper {
  overflow-y: auto;
}
.height-style {
  min-height: calc(100vh - 3.5rem);
  height: fit-content;
}